*{
   margin: 0%;
   padding: 0%;     
   box-sizing: border-box;
   font-family: "impact"; 
   -webkit-box-sizing: border-box;    
}
body{
       background-color: #1d1b1b;
}
header{
position: fixed;
background-color: #131313;
margin: auto;
box-shadow: 0px 7px 8px;
width: 100%;


}
ul{ 
    margin-right: -4rem;
    
}
li{
       float: right;
       margin: 0.6rem;
       margin-right: 70px; 
       padding: 1.2rem;
       font-size: 1.2rem;
       color: #d3d4d6;
       text-transform: uppercase;
       
}
#logo{
       width: 10%;
       padding-left: 11px;
       padding-top: 5px;
}
li:hover{
   color: #cc4825;
   transition: all .4s ease-in-out;
   cursor: pointer; 
}
.mfoto{
       margin-top: 110px;
       margin-left: 35px;
       width: 50%;
       height: 30%;
       border-style: solid;
       border-width: 6px;
       border-radius: 3%;
       border-top-color: #121212;
       border-left-color: #cc4825;
       border-bottom-color: #121212;
       border-right-color: #cc4825;
       

}
.ico1{
       list-style-image: url(../images/icoh.png);
}
.ico1:hover{
       list-style-image: url(../images/ico.png);
}
.ico2{
       list-style-image: url(../images/phone-callh.png);
}
.ico2:hover{
       list-style-image: url(../images/phone-call.png);
}
.ico3:hover{
       list-style-image: url(../images/note.png);
}
.ico3{
       list-style-image: url(../images/noteh.png);
}
.formcontainer{
       
                background-color: #121212;
                margin: 103px;
                width: 410px;
                height: 510px;
                border-radius: 3%;
                border-style: solid;
                border-width: 6px;
                border-radius: 3%;
                border-top-color: #cc4825;
                border-left-color: #121212;
                border-bottom-color: #cc4825;
                border-right-color: #121212;
                float: right;

}
h1{    
       padding: 25px;
       color: #d3d4d6;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 16px;

}
h2{    
       margin-top: -40px;
       padding: 25px;
       color: #d3d4d6;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 14px;

}
h3{    
       margin-top: -40px;
       padding: 25px;
       color: #a1845d;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 14px;

}
input{
       width: 90%;
       margin-left: 17px;
       padding: 10px;
       box-sizing: border-box;
       margin-bottom: 10px;
       border: none;

}
input[type="submit"]{      
       font-size: 17px;
       color: #d3d4d6;
       background-color: #202020;
       letter-spacing: 2px;
}
input[type="submit"]:hover{  
       background-color: #cc4825;
       transition: all .2s ease-in-out;
       cursor: pointer;
}
.backph1{
       margin-top: 3cm;
       width: 100%;
       height: 570px;
       background-image: url(../images/backk.png);
       background-size: cover;
       background-attachment: fixed;
       background-repeat: no-repeat;
       
}
.sobre1{
         font-family: "impact";     
         font-size: 28px;
         letter-spacing: 3px;
         text-transform: uppercase;
         margin: auto;
         margin-left: 38%;
            
              

}
.lar{  
       margin-bottom: 10px;
       margin-left: 2rem;   
       width: 25%;
       padding: 2px;
       background-color: #cc4825;
       border-style: solid;
       border-color: #cc4825;


}
.missao{
         max-width: 35%;           
         color: #d3d4d6;
         text-align: center;
         margin: auto;
         margin-top: 45px;
             


}
.lar1{ 
       margin-top: 8rem;      
       margin-left: 550px;   
       width: 15%;
       padding: 2px;
       background-color: #cc4825;
       border-style: solid;
       border-color: #cc4825;


}
.social{
       display: inline;


}
.social1{
       display: inline-block;
       margin: auto;
       margin-top: 4rem;
       margin-left: 2rem;
       padding-right: 4rem;
       color: #d3d4d6;
       background-color: #121212;
       font-size: 50px;
       font-family: "impact";
       letter-spacing: 2px;
       border-width: 10px;
       border-style: solid;
       border-left-color: #cc4825;
       border-left-width: 5px;
       border-top-color: #121212;
       border-right-color: #121212;
       border-bottom-color: #121212;
       border-radius: 4%;
}
.psoci{
       max-width: 25%;
       color: #d3d4d6;
       text-transform: capitalize;
       margin-top: 2rem;
       margin-left: 2rem;
}
.whpp{
       display: block;
       max-width: 4%;
       margin-left: 49rem;
       margin-top: -21rem;
}
.whpp1{
       display: inline-block;
       color: #d3d4d6;
       background-color: #121212;
       border-style: solid;
       border-width: 10px;
       border-right-color: green;
       border-left-color: #121212;
       border-bottom-color: #121212;
       border-top-color: #121212;
       padding: 10px;
       margin-top: 1rem;
       margin-left: 46rem;
}
.insta{
       display: block;
       max-width: 4%;
       margin-left: 49rem;
       margin-top: 5rem;
}
.insta1{
       display: inline-block;
       color: #d3d4d6;
       background-color: #121212;
       border-style: solid;
       border-width: 10px;
       border-right-color: #921cb9;
       border-left-color: #121212;
       border-bottom-color: #121212;
       border-top-color: #121212;
       padding: 10px;
       margin-top: 1rem;
       margin-left: 46rem;
}
.mail{
       display: block;
       max-width: 4%;
       margin-left: 65rem;
       margin-top: -15rem;
}
.mail1{
       display: inline-block;
       color: #d3d4d6;
       background-color: #121212;
       border-style: solid;
       border-width: 10px;
       border-right-color: #cc4825;
       border-left-color: #121212;
       border-bottom-color: #121212;
       border-top-color: #121212;
       padding: 10px;
       margin-top: 1rem;
       margin-left: 59rem;
}
.bord{
       margin-top: 16rem;
       width: 100%;
       height: 30rem;
       background: #161515;
}
.bord1{
       display: inline-block;
       margin: auto;
       margin-top: 4rem;
       margin-left: 44rem;
       padding-right: 4rem;
       color: #d3d4d6;
       background-color: #121212;
       font-size: 45px;
       font-family: "impact";
       letter-spacing: 2px;
       border-width: 10px;
       border-style: solid;
       border-left-color: #121212;
       border-left-width: 5px;
       border-top-color: #121212;
       border-right-color: #cc4825;
       border-bottom-color: #121212;
       border-radius: 4%;
}
.bord2{
       width: 50%;
       margin-left: 1rem;
       margin-top: -123px;
       border-radius: 3%;
}
.bord3{
       max-width: 32%;
       color: #d3d4d6;
       font-size: 22px;
       margin-left: 47rem;
       margin-top: -13rem;
}       
footer{
       width:  100%;
       height: 6rem;
       background-color: black;


}
.direts{
         display: inline-block;     
         padding-top: 3rem;
         padding-left: 37%;     
         color: #d3d4d6;
         font-family: "Arial";
         text-transform: capitalize;

}
/* Segunda página */

.atend1{
       letter-spacing: 1px;
       font-family: "impact";
       font-size: 28px;
       color: #d3d4d6;
       margin-left: 42%;
       font-weight: bolder;
       text-transform: uppercase;
       
}
hr{     
    margin-left: 46px;   
    width: 15%;
    padding: 2px;
    background-color: #cc4825;
    border-style: solid;
    border-color: #cc4825;                    
}
table{
       margin-left: 17rem;
       border-collapse: collapse;    
}
th{
       font-family: "Contrail-One";
       color: #d3d4d6;
       background-color: #cc4825;
       width: 11cm;
       height: 40px;       
       font-size: 23px;
       text-transform: uppercase;
       
}
td{    
    padding-top: 8px; 
    padding-left: 9rem;
    color: #d3d4d6;
    padding-bottom: 10px;
    background-color: #121212ab;
    font-size: 22px;  
    text-transform: uppercase;   

}
.econtact{
              display: inline-block;
              margin-top: 20px;
              margin-left: 42%;
              padding: 1rem;
              width: 15rem;
              color: #d3d4d6;   
              background-color: #cc4825;
              font-size: 22px;
              text-transform: uppercase;
              text-align: center;
}
.econtact:hover{
              background-color: #9b3316;
              transition: all .4s ease-in-out;

}